$main-color: #8fcddc;

@mixin flexAlign ($hor: center, $vert: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}
@mixin fontStyle ($color: black, $size:24px){
    color: $color;
    font-size: $size;
}
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;;
}
.header{
    width: 100%;
    height: 57px;
    background: rgba($main-color, .4); /* .4 - прозрачность */
    @include flexAlign;
    position: fixed;
    left: 0;
    top: 0;

    &__content{
        width: 1024px;
        height: 100%;
        @include flexAlign(space-between); /*(добавить миксин) space-between - раскинуть по сторонам*/
        @media screen and (max-width: 1024px) {
            width: 100%;
           flex-direction: row-reverse;
            box-sizing: border-box;
            padding-right: 20px;
        }


        .menu{
            width: 57px;
            height: 57px;
            background: rgba(255, 255, 255, 0.5);
            @include flexAlign;
            cursor: pointer;

            &__line{
                width: 37px;
                height: 6px;
                background-color: white;
                position: relative;
                
                &::after{
                    content:''; /*обязательно*/
                    width: 37px;
                    height: 6px;
                    background-color: white;
                    position: absolute;
                    bottom: 11px;
                }
                &::before{
                    content:''; /*обязательно*/
                    width: 37px;
                    height: 6px;
                    background-color: white;
                    position: absolute;
                    top: 11px;
                }
            }
        }
    }
}
.banner{
    width: 100%;
    height: 482px;
    background: url('../images/banner.jpg');
    background-size: cover;  /*растягивает картинку до размера блока*/
    background-repeat: no-repeat;
    background-position: top;
    @include flexAlign;

    &__content {
        width: 1024px;
        height: 100%;
        box-sizing: border-box;
        padding-left: 30px;
        @include flexAlign(flex-start);

       &-form {
            @include flexAlign($pos: column);
            width: 390px;
            text-align: center;

            &-text {
                @include fontStyle(white, 27px);
                margin-bottom: 27px;
            }
            .search {
                width: 100%;

                &__input {
                    width: 100%;
                    height: 42px;
                    outline: none; /*убрать обрамление инпута*/
                    border: none;
                    @include fontStyle($size: 21px);
                    padding-left: 17px;

                    &::placeholder {
                        color: #bbbbbb;
                    }
                }
            }
        }
    }
}
.create {
    width: 100%;
    height: 115px;
    @include flexAlign;
    border-bottom: 1px solid #e3e3e3;

    &__text {
        @include fontStyle(#8b8b8b, 37px);
        margin-right: 35px;
}
    &__button{
        background: $main-color;
        outline: none;
        @include fontStyle(white, 37px);
        font-weight: 100;
        font-family: 'Raleway', sans-serif;
        width: 255px;
        height: 60px;
        user-select: none;
        cursor: pointer;
        transition: .4s;

        &:hover {
            background: rgba($main-color, .6);
        }
    }

}
.category {
    padding: 36px 0 70px 0;
    @include flexAlign($pos: column);

 &__content {
     width: 1024px;
     @media screen and (max-width: 1024px) {
         width: 100%;
     }
     &-title {
         font-size: 23px;
         text-transform: uppercase;
     }
     &-items {
         @include flexAlign(space-around);
         margin-top: 32px;

         .links {
             margin: 0;
             list-style-type: none;

            &__item {
                padding-bottom: 11px;

                &:last-child {
                    padding-bottom: 0;
                }
                &-link {
                    text-decoration: none; // убрать подчеркивание//
                    color: #b9b9b9;
                    font-size: 15px;

                    &:active {
                        color: black;
                        }
                    }
                }

            }
        }
    }
}
.footer{
    width: 100%;
    height: 44px;
    background: #484242;
    @include flexAlign;
    color: #adabab;
    font-size: 17px;
}
